body {
    font-size: $fs-base;
    color: $dark;
    font-family: 'Noto Sans TC', sans-serif;
}

.top-btn {
    background-image: url('../img/top.png');
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    right: calc(100vh - 98vh);
    bottom: calc(100vh - 98vh);
    z-index: 2;
    @media (max-width:768px) {
        background-size: cover;
        width: 60px;
        height: 60px;
    }
}

.border {
    border: 1px solid #000;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    @media (max-width: 992px) {
        margin: 0px 20px;
    }
}

// font
.fs-18{ font-size:  18px; }
.fs-20 { font-size: 20px; }
.fs-x15 { font-size: $fs-base * 1.5;}
.fs-x2 { font-size: $fs-base * 2; }
.fs-x3 { font-size: $fs-base * 3; }
.text-primary { color: $primary; }
.text-dark { color: $dark; }
.text-gray { color: $gray; }
.fw-bold {font-weight: bold;}
.text-center { text-align: center; }

@media (max-width:768px) {
    .fs-x15 {font-size:  18px;}
    .fs-x2 { font-size: 28px; }
}

//btn
.btn {
    padding: 8px 32px;
    text-decoration: none;
    border-radius: 22px;
    line-height: $fs-base *1.5;
    color: $white;
}
.btn-red { background-color: $red; }
.btn-primary { background-color: $primary; }
.btn-red:hover { background-color: lighten($red, 8%); transition: .3s;}
.btn-primary:hover { background-color: lighten($primary, 8%); transition: .3s;}


header{
    height: 100vh;
    position: relative;
    .bg_home {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        height: 100vh;
        @media (max-width: 768px) {
            display: none;
        }
    }

    @media (max-width:768px) {
        .yellow-border { border-bottom: 2px solid $yellow; }
    }

    .navbar {
        @include f-jcsb-aic;
        padding: 24px 0px;
        a{
            display: block;
            .logo {
                width: 100%;
                max-height: 40px;
            }
        }
    }

    .banner {
        @include f-jcsb-aic;

        @media (max-width:992px) {
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 32px;
        }

        section{
            h3 {
                margin-bottom: 8px;
                line-height: 26px;
            }
            h1 {
                line-height: 70px;
            }
            h2 {
                margin-top: 16px;
                line-height: 29px;
            }

            @media (max-width:768px) {
                h3 {
                    line-height: 24px;
                    font-size: $fs-base;
                }
                h1 {
                    line-height: 46px;
                    font-size: $fs-base * 2;
                }
                h2 {
                    line-height: 24px;
                    font-size: $fs-base;
                }
            }
        }

        .banner-img {
            position: relative;
            margin-top: 32px;
            img {
                width: 100%;
                height: 100%;
            }
            .mobile-banner {
                display: none;
                @media (max-width:768px) {
                    display: block;
                    position: absolute;
                    bottom: -60px;
                    z-index: -1;
                }
            }
        }

    }
}

main {
    position: relative;
    .ball-01 { 
        position: absolute; 
        top: -180px;
        z-index: -2;
        background-image: url('../img/ball01.svg');
        background-position: right;
        background-repeat: no-repeat;
        width: 120px;
        height: 360px;
    }
    .ball-02 {
        position: absolute;
        top: 850px;
        right: 0px;
        z-index: -1;
        background-image: url('../img/ball02.svg');
        background-repeat: no-repeat;
        background-position: left;
        width: 200px;
        height: 360px;
    }
    .ball-03 {
        position: absolute;
        bottom: 320px;
        left: 300px;
        z-index: -1;
        background-image: url('../img/ball03.svg');
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
    }

    @media (max-width:768px) {
        .ball-01 { 
            top: 60px; 
            background-size: cover;
            width: 70px;
            height: 180px;
        }
        .ball-02 {
            top: 2450px;
            background-size: cover;
            width: 80px;
            height: 135px;
        }
        .ball-03{
            left: 0px;
            width: 60px;
            background-position: right;
        }
    }


    section { padding: 50px 0px;}
    .platform {
        ul {
            display: flex;
            justify-content: space-between;
            margin-top: 48px;
            li {
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                img { width: 90px; height: 90px; }
                h2 { margin: 24px 0px; line-height: 35px;}
                p { line-height: 24px;}
            }

            @media (max-width: 768px) {
                flex-direction: column;
                gap: 24px;

                li {
                    width: 100%;
                    img { width: 60px; height: 60px; }
                    h2 { margin: 16px 0px; line-height: 26px;}
                    p { line-height: 24px;}
                }
            }
        }
    }

    .serve {
        h1{ line-height: 46px;}
        p { margin-top: 16px; line-height: 29px;}
        ul { 
            margin-top: 48px; 
            display: flex;
            justify-content: space-between;

            li {
                border-radius: 12px;
                background-color: $white;
                box-shadow: 0px 2px 10px #00000014;
                overflow: hidden;
                width: 23.6%;

                img {width: 100%;}
                h2 { margin: 16px 0px; }
                p { margin: 0px 16px 24px 16px; line-height: 24px;}
            }
        }

        @media (max-width:768px) {
            p { font-size: 18px;}
            ul {
                margin-top: 32px;
                flex-wrap: wrap;
                gap: 24px;
                li {
                    width: 45%;
                }
            }
        }

        @media (max-width:576px) {
            ul{
                justify-content: center;
                li { width: 70%;}
            }
        }
    }

    .info {
        display: flex;
        justify-content: space-between;

        ul {
            width: 45%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 28px;

            li {
                display: flex;
                flex-direction:column;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: 0px 2px 10px #00000014;
                border-radius: 12px;
                width: 33%;
                padding: 32px 32px 48px;

                .circle { 
                    width: 86px;
                    height: 86px;
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    box-shadow: 0px 2px 10px #00000014;
                    border-radius: 50%;
                    box-shadow: 0px 2px 10px #00000014;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img { width: 60%; height:60%;}
                }
                h2 {margin: 24px 0px 16px 0px;}
                p { line-height: 24px;}
            }
        }

        div{ 
            width: 45%;
            display: flex;
            flex-direction:column;
            justify-content: center;
            h1{ line-height: 46px;}
            p { margin: 16px 0px 24px 0px; line-height: 26px;}
        }

        @media (max-width:992px) {
            flex-direction: column-reverse;
            justify-content: center;
            ul { 
                width: 100%;
                margin-top: 32px;
                flex-wrap: nowrap;
                gap: 16px;
            }

            div { 
                width: 100%;
                align-items: center;
                h1,p { text-align: center; }
            }
        }

        @media (max-width:768px) {
            ul {
                flex-wrap: wrap;
                li {
                    width: 36%;
                }
            }
        }

        @media (max-width:576px) {
            ul {
                flex-direction: column;
                align-items: center;
                gap: 24px;
                li{
                    width: 50%;
                }
            }
            div {
                p { font-size: 16px;}
            }
        }
    }
    
    .comment {
        .user-card {
            padding: 48px 32px 24px 32px;
            border-radius: 12px;
            line-height: 24px;
            background-color: $white;
            box-shadow: 0px 2px 10px #00000014;
            position: relative;
            // @media (max-width: 992px) {
            //     width: 100%;
            // }

            .user-img { 
                width: 80px; 
                height: 80px; 
                border-radius: 50%;
                position: absolute;
                top: -50px;
            }
            p { border-bottom: 1px solid $light; padding-bottom: 24px; margin-bottom: 24px;}
            
            .user {
                display: flex;
                justify-content: space-between;
                margin-top: 8px;

                .start {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    img { width: 16px; height: 16px;}
                }
            }
        }
    }
}

// user card swiper
.swiper {margin: 50px 0px 24px 0px;}
.swiper-wrapper {padding-top: 50px;}
.swiper-pagination-bullet-active {
    border-radius: 50px;
    width: 16px;
    background-color: $yellow;
    transition: .2s;
}
.swiper-pagination {
    position: static;
    margin-top: 24px;
}


footer {
    background-image: url('../img/home_footer.svg');
    background-size: 100% ;
    background-position: top center;
    background-repeat: no-repeat;
    .footer-banner {
        text-align: center;
        padding: 18% 0px 60px;
        h1 {margin-bottom: 48px; line-height: 46px;}
    }
    p{ background-color: $light; padding: 16px 0px; text-align: center;}

    @media (max-width:768px) {
        background-size: 992px auto ;
        .footer-banner {
            padding: 50% 0px 60px;
            h1 { font-size: 24px;}
        }
    }
}